body{
	
background-color: #131313;
font-family: eurostile, sans-serif;
	overflow-x: hidden;
	max-width: 100vw;
	padding: 0;
	margin: 0;
}


header ul{
	
list-style: none;
position: fixed;
background-color: #1A1A1A;
width: 150%;
padding: 0;
margin: 0;
visibility: hidden;
opacity: 0;
transition: all 0.3s ease-in-out;
z-index: 99;




}

header ul li {

	
float: left;
display: inline;
padding: 10px 20px;
letter-spacing: 3px; 
background-color: #1A1A1A;
z-index: 99;






}

.drop-down li:hover{
    
opacity: 0.5;
}

a {
	
color: white;
z-index: 99;
text-decoration: none;
    

}


a:hover {
    
opacity: 0.5;
}

hr{

position: absolute;	
width: 3px;
height: 20px;
color: #FFFFFF;
background-color: #FFFFFF;
top:12%;
z-index: 3;





}



button:hover{
	
	
opacity: 0.5;
}

h1 {
	
font-weight: 600;
color: #FFFFFF;
letter-spacing: 3px;
padding-bottom: 1em;
font-size: 2vw;
font-family: eurostile-extended, sans-serif;
font-style: normal;
align-content: center;



}


h2 {
	
font-weight: 600;
color: #FFFFFF;
letter-spacing: 3px;
font-size: 3vw;
font-family: eurostile, sans-serif;
font-style: normal;
text-align: center;
padding-top: 10%;
padding-bottom: 10%;

}


h3 {
	
font-weight: 600;
color: #FFFFFF;
letter-spacing: 3px;
font-size: 1.5vw;
font-family: eurostile, sans-serif;
font-style: normal;


}


h4 {
    

color: #FFFFFF;
display: inline; 
margin-left: 4em;
font-size: 1.5em;
position: fixed;
margin-top: 0.3em;
font-weight: 300;
letter-spacing: 3px;
z-index: 99;

}

h5

{
    

color: #FFFFFF;
display: inline; 
margin-left: 6.5em;
font-size: 1.5em;
position: fixed;
margin-top: 0.3em;
font-weight: 600;
letter-spacing: 3px;
z-index: 99;

}

h6 {
    
color: black;
text-align: center;
font-size: 1.8vw;

}




P {
	
	
color:#FFFFFF;
font-size: 1.3vw;
font-family: eurostile, sans-serif;
font-weight: 400;
font-style: normal;



}


footer {
	

z-index: 3;
color: white;
position: relative;
padding: 1.3%;



	
	

}

button {

background-color:rgba(0, 0, 0, 0);

}

.footnote{
	
right: 5%;
font-size: 1em;
position: absolute;
top: 30%;


}

.contact-modal1 p {
    
color: black;
text-align: center;
font-size: 1.8vw;

}


.contact-modal1 p:hover {
    
opacity: 0.5;

}


.devbio-left{
	
height: 21vw;
background-color: #222222;
}

.headshot-left{
	
width: 16%;
height: auto;
float: left;
margin-left: 15%;
padding-top: 2%;
padding-bottom: 2%;
border-radius: 50%;
margin-bottom: 3%;




}


.hover-photo:hover{
    
opacity: 0.5;
cursor: pointer;
}

.biotext-left{
	
text-align: left;
float: left;
padding-left: 4%;
padding-top: 3%;
width: 60%;

}

.devbio-right{
	
height: 21vw;

}

.headshot-right{
	
width: 16%;
height: auto;
float: right;
margin-right: 15%;
padding-top: 2%;
padding-bottom: 2%;
border-radius: 50%;
margin-bottom: 3%;

}

.biotext-right{
	
text-align: right;
padding-right: 0;
padding-top: 1%;
width: 60%;
margin-left: 5%;


}


.emma {
    
margin-top: -4%;
margin-right: 3%
    
    
    
}


.andrew {
    
margin-top:0%;
padding-bottom: 3%;
}



.phil {
    
margin-top: -3%;
}

.phil-background {
    
height: 25vw
}

.andrew-background {
    
height: 25vw
}


.topnav{
	
background-color: #121212;
position: fixed;
width: 100%;
height: 3em;
z-index: 3;
box-shadow: 0 1px 3px 3px #111111
	
	
}


.gameplay2-text ul, .gameplay3-text ul {
font-size: 1.3vw;	
color: #FFFFFF;

}


.gameplay2-text li, .gameplay3-text li{
	
padding-left: 20px;
}

.drop-down {
	
position: fixed;
padding-top: 2em;
width: 100%;
background-color: #1A1A1A;
font-size: 1.5em;
visibility: hidden;
opacity: 0;
transition: all 0.3s ease-in-out;
z-index: 3;
box-shadow: 0 1px 3px 3px #111111


}

.hamburgermenu{
padding: 1em;
padding-left: 2em;
display: block;
transition: transform 0.3s ease-in-out;

}

.hamburgermenu:hover{
	
opacity: 0.5;
cursor: pointer;
display: block;

}

.exitmenu{
padding-top:12px;
padding-left: 2em;
display: none;
transition: transform 0.3s ease-in-out;

}

.exitmenu:hover{
	
opacity: 0.5;
cursor: pointer;
display: none;
}




.poster{
	
width: 100%;
margin-top: 3.5em;


	

}

.about {
	
padding-top: 8em;
padding-bottom: 6em;
text-align: center;
background-color: #870002;
width: 100%;
}

.gameplay1{
	
width: 50%;
height: 100%;
float: right;


}

.gameplay2{
	
width: 50%;
height: 100%;
float: left;


}


.gameplay3{
	

height: 100%;
float: right;
width: 60.3%;






}

.gameplay1-text{
	
float: left;
width: 40%;
margin-left: 8%;
padding-top: 10%;

}

.gameplay2-text{
	
float: right;
width: 40%;
padding-top: 10%;
margin-right: 8%;

}

.gameplay3-text{
	
float: left;
width: 30%;
margin-left: 8%;
padding-top: 5%;

}


.gameplayrows{

background-color: #171717;
height: 40vw;

}

.gameplay1-mobile{
		
width: 110%;	
height: auto;
display: none;
	
	}	


.gameplay2-mobile{
		
width: 110%;	
height: auto;
display: none;
	
	}	



.gameplay3-mobile{
		
width: 110%;	
height: auto;
display: none;
	
	}	





/* Carousel stuff */ 


.carousel{
	
position: relative;
height: 800px;
width: 100%;
margin: 0 auto;

}


.carousel__image{
	width: 100%;
	height: 100%;
	object-fit: cover;
    
}

.carousel_track-container{
	


height: 100%;
position: relative;
overflow: hidden;

}

.carousel__track {

	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	height: 100%;
	transition: transform 250ms ease-in;
    

}

.carousel__slide {
	
position: absolute;
top: 0;
bottom: 0;
width: 100%;

		

}

.carousel__button {
	
position: absolute;
top: 50%;
transform: translateY(-50%);
border: 0;
z-index: 2;
cursor: pointer;

	

}


.carousel__button--left {

right: 50px;

}

.carousel__button--right {

left: 50px;

}

.carousel__button img {
	
width: 50px;
z-index: 3;
opacity: 0.8;
}


.carousel__nav{
	
z-index: 1;
display: flex;
justify-content: center;
padding: 10px 0;
transform: translate(0,-110%);


}

.carousel__indicator {
	
border: 0;
border-radius: 50%;
width: 15px;
height: 15px;
background: rgba(0,0,0,.3);
z-index: 3;
margin: 0 10px;
cursor: pointer;
}

.carousel__indicator.current-slide{
	
background: rgba(0,0,0,.75);
z-index: 3;
}

.is-hidden{
	
display: none;
}


/* end Carousel stuff */


/* Modal stuff */


.bg-modal {

	width: 100vw;
	height: 576em;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.contact-modal1 {
	
width: 35vw;
height: 35vw;
background-color: #FFFFFF;
border-radius: 0px;
z-index: 99;
margin-top:1em;
display: block;
position: fixed;
top: 10em;


}

.close{
	
position: absolute;
top:0;
right: 14px;
font-size: 50px;
transform: rotate(45deg);
cursor: pointer;
}

    
.bg-modal2 {

	width: 100vw;
	height: 576em;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.contact-modal2 {
	
width: 35vw;
height: 35vw;
background-color: #FFFFFF;
border-radius: 0px;
z-index: 99;
margin-top:1em;
display: block;
position: fixed;
top: 10em;


}

.close2{
	
position: absolute;
top:0;
right: 14px;
font-size: 50px;
transform: rotate(45deg);
cursor: pointer;
}

    
    
 .bg-modal3 {

	width: 100vw;
	height: 576em;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.contact-modal3 {
	
width: 35vw;
height: 35vw;
background-color: #FFFFFF;
border-radius: 0px;
z-index: 99;
margin-top:1em;
display: block;
position: fixed;
top: 10em;


}

.close3{
	
position: absolute;
top:0;
right: 14px;
font-size: 50px;
transform: rotate(45deg);
cursor: pointer;
}

   
.bg-modal4 {

	width: 100vw;
	height: 576em;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.contact-modal4 {
	
width: 35vw;
height: 35vw;
background-color: #FFFFFF;
border-radius: 0px;
z-index: 99;
margin-top:1em;
display: block;
position: fixed;
top: 10em;


}

.close4{
	
position: absolute;
top:0;
right: 14px;
font-size: 50px;
transform: rotate(45deg);
cursor: pointer;
}
    
    
.bg-modal5 {

	width: 100vw;
	height: 576em;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.contact-modal5 {
	
width: 35vw;
height: 35vw;
background-color: #FFFFFF;
border-radius: 0px;
z-index: 99;
margin-top:1em;
display: block;
position: fixed;
top: 10em;


}

.close5{
	
position: absolute;
top:0;
right: 14px;
font-size: 50px;
transform: rotate(45deg);
cursor: pointer;
}



.bg-modal6 {

	width: 100vw;
	height: 576em;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.contact-modal6 {
	
width: 35vw;
height: 35vw;
background-color: #FFFFFF;
border-radius: 0px;
z-index: 99;
margin-top:1em;
display: block;
position: fixed;
top: 10em;


}

.close6{
	
position: absolute;
top:0;
right: 14px;
font-size: 50px;
transform: rotate(45deg);
cursor: pointer;
}

.close:hover {
    
opacity: 0.5;
}

.close2:hover {
    
opacity: 0.5;
}

.close3:hover {
    
opacity: 0.5;
}

.close4:hover {
    
opacity: 0.5;
}

.close5:hover {
    
opacity: 0.5;
}

.close6:hover {
    
opacity: 0.5;
}


/* end Modal Stuff */    
    
    
    
	








































/* Mobile */

@media only screen and (max-width: 600px) {

body{
	
background-color: #131313;
font-family: eurostile, sans-serif;
	overflow-x: hidden;
	max-width: 100vw;
	padding: 0;
	margin: 0;
}


header ul{
	
list-style: none;
position: fixed;
background-color: #1A1A1A;
width: 150%;
padding: 0;
margin: 0;
visibility: hidden;
opacity: 0;
transition: all 0.3s ease-in-out;
z-index: 3;





}

header ul li {

	
float: left;
display: inline;
padding: 5px 5px;
letter-spacing: 3px; 
background-color: #1A1A1A;
z-index: 3;
font-size: 0.6em;
margin-left: 0.7em;
padding-top: 5px;







}

a {
	
color: white;
z-index: 3;


}

hr{

position: absolute;	
width: 0.5px;
height: 15px;
color: #FFFFFF;
background-color: #FFFFFF;
top:0.7%;
z-index: 3;




}

button:hover{
	
	
opacity: 0.5;
}

h1 {
	
font-weight: 600;
color: #FFFFFF;
letter-spacing: 3px;
padding-bottom: 1em;
font-size: 4vw;
font-family: eurostile-extended, sans-serif;
font-style: normal;
align-content: center;


}


h2 {
	
font-weight: 600;
color: #FFFFFF;
letter-spacing: 3px;
font-size: 5vw;
font-family: eurostile, sans-serif;
font-style: normal;
text-align: center;
padding-top: 10%;
padding-bottom: 10%;

}


h3 {
	
font-weight: 600;
color: #FFFFFF;
letter-spacing: 3px;
font-size: 3vw;
font-family: eurostile, sans-serif;
font-style: normal;
padding-top: 4%;
margin-bottom: 3%;



}

    
    h6 {
        
    font-size: 4vw
    }


P {
	
	
color:#FFFFFF;
font-size: 3vw;
font-family: eurostile, sans-serif;
font-weight: 400;
font-style: normal;






}
    
    
.devbio-left P {
	
	
color:#FFFFFF;
font-size: 3vw;
font-family: eurostile, sans-serif;
font-weight: 400;
font-style: normal;
margin-top: 0%;
margin-bottom: 3%;




}
    
.devbio-right P {
	
	
color:#FFFFFF;
font-size: 3vw;
font-family: eurostile, sans-serif;
font-weight: 400;
font-style: normal;
margin-top: 0%;
margin-bottom: 3%;    

    
    }

footer {
	

z-index: 3;
color: white;
position: relative;
padding: 1.6%;


	
	

}

.footnote{
	
right: 5%;
font-size: 0.6em;
position: absolute;
top: 30%;


}

.devbio-left{
	
height: 63vw;
background-color: #222222;
}

.headshot-left{
	
width: 16%;
height: auto;
float: left;
margin-left: 15%;
padding-top: 5%;
padding-bottom: 5%;
border-radius: 50%;
margin-bottom: 3%;




}
    
    
.contact-modal1 p {
        
 font-size: 4vw;
 }

.biotext-left{
	
text-align: left;
float: left;
Padding-top: 0%;
padding-left: 5%;    



}

.devbio-right{
	
height: 68vw;

}

.headshot-right{
	
width: 16%;
height: auto;
float: right;
margin-right: 10%;
padding-top: 5%;
padding-bottom: 5%;	
border-radius: 50%;

}

.biotext-right{
	
text-align: right;
float: right;
Padding-top: 0%;
padding-right: 3%; 



}


    .andrew-background {
        
    height: 85vw;
   
    }

    .phil-background {
        
    height: 85vw;
    }  
    
    

.topnav{
	
background-color: #121212;
position: fixed;
width: 100%;
height: 3em;
z-index: 3;
box-shadow: 0 1px 3px 3px #111111
	
	
}


.gameplay2-text ul, .gameplay3-text ul {
color:#FFFFFF;
font-size: 3vw;
font-family: eurostile, sans-serif;
font-weight: 400;
font-style: normal;
align-content: center;


}


.gameplay2-text li, .gameplay3-text li{
	
padding-left: 20px;

	}
.drop-down {
	
position: fixed;
padding-top: 2em;
width: 100%;
background-color: #1A1A1A;
font-size: 1.5em;
visibility: hidden;
opacity: 0;
transition: all 0.3s ease-in-out;
z-index: 3;
box-shadow: 0 1px 3px 3px #111111


}

.hamburgermenu{
padding: 1em;
padding-left: 2em;
}

.hamburgermenu:hover{
	
opacity: 0.5;
cursor: pointer;
}

.poster{
	
width: 100%;
margin-top: 3em;
	

}

.about {
	
padding-top: 8em;
padding-bottom: 6em;
text-align: center;
background-color: #870002;
width: 100%;
}

.gameplay1{
	
width: 100%;
height: auto;
display: none;



}

.gameplay2{
	
width: 10%;
height: auto;
display: none;



}


.gameplay3{
	

width: 10%;
height: auto;
display: none;




}
    
.gameplay1-mobile{
		
width: 100%;
height: auto;
display: inline-block;
	
	
	}	    
    
	
.gameplay2-mobile{
		
width: 100%;
height: auto;
display: inline-block;
	
	
	}	
	
.gameplay3-mobile{
		
width: 100%;	
height: auto;
display: inline-block;
	
	}	
	
	

.gameplay1-text{
	
margin-left: 10%; 
width: 80%;
padding-bottom: 5%


}

.gameplay2-text{
margin-left: 10%; 	
width: 80%;
padding-bottom: 5%
}

.gameplay3-text{

margin-left: 10%;    
width: 80%;
padding-bottom: 5%

}


.gameplayrows{


height: 100vw;
padding-bottom: 1em;
display: inline;


}	
	
	
/* Carousel stuff mobile */ 


.carousel{
	
position: relative;
height: 300px;
width: 100%;
margin: 0 auto;
}


.carousel__image{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.carousel_track-container{
	
background-color: transparent;

height: 100%;
position: relative;
overflow: hidden;
}

.carousel__track {

	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	height: 100%;
	transition: transform 250ms ease-in-out;

}

.carousel__slide {
	
position: absolute;
top: 0;
bottom: 0;
width: 100%;
		

}

.carousel__button {
	
position: absolute;
top: 50%;
transform: translateY(-50%);
border: 0;
z-index: 2;
cursor: pointer;


	

}
    
.carousel__button img {
        
width: 2em;
    
}    


.carousel__button--left {

right: 20px;

}

.carousel__button--right {

left: 20px;

}

.carousel__button img {
	

z-index: 3;
opacity: 0.8;
}


.carousel__nav{
	
z-index: 3;
display: flex;
justify-content: center;
padding: 10px 0;

}

.carousel__indicator {
	
border: 0;
border-radius: 50%;
width: 15px;
height: 15px;
background: rgba(0,0,0,.3);
z-index: 3;
margin: 0 10px;
cursor: pointer;
}

.carousel__indicator.current-slide{
	
background: rgba(0,0,0,.75);
}

.is-hidden{
	
display: none;
}


/* end Carousel stuff mobile */	
	

/* Modal stuff */


.bg-modal {

	width: 100vw;
	height: 500em;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.contact-modal1 {
	
width: 80vw;
height: 60vw;
background-color: #FFFFFF;
border-radius: 0px;
z-index: 99;
margin-top:1em;
display: block;
position: fixed;
top: 10em;


}

.close{
	
position: absolute;
top:0;
right: 14px;
font-size: 30px;
transform: rotate(45deg);
cursor: pointer;
}

    
.bg-modal2 {

	width: 100vw;
	height: 500em;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.contact-modal2 {
	
width: 80vw;
height: 60vw;
background-color: #FFFFFF;
border-radius: 0px;
z-index: 99;
margin-top:1em;
display: block;
position: fixed;
top: 10em;


}

.close2{
	
position: absolute;
top:0;
right: 14px;
font-size: 30px;
transform: rotate(45deg);
cursor: pointer;
}

    
    
 .bg-modal3 {

	width: 100vw;
	height: 500em;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.contact-modal3 {
	
width: 80vw;
height: 60vw;
background-color: #FFFFFF;
border-radius: 0px;
z-index: 99;
margin-top:1em;
display: block;
position: fixed;
top: 10em;


}

.close3{
	
position: absolute;
top:0;
right: 14px;
font-size: 30px;
transform: rotate(45deg);
cursor: pointer;
}

   
.bg-modal4 {

	width: 100vw;
	height: 500em;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.contact-modal4 {
	
width: 80vw;
height: 60vw;
background-color: #FFFFFF;
border-radius: 0px;
z-index: 99;
margin-top:1em;
display: block;
position: fixed;
top: 10em;


}

.close4{
	
position: absolute;
top:0;
right: 14px;
font-size: 30px;
transform: rotate(45deg);
cursor: pointer;
}
    
    
.bg-modal5 {

	width: 100vw;
	height: 500em;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.contact-modal5 {
	
width: 80vw;
height: 60vw;
background-color: #FFFFFF;
border-radius: 0px;
z-index: 99;
margin-top:1em;
display: block;
position: fixed;
top: 10em;


}

.close5{
	
position: absolute;
top:0;
right: 14px;
font-size: 30px;
transform: rotate(45deg);
cursor: pointer;
}



.bg-modal6 {

	width: 100vw;
	height: 500em;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
	
	
	
}

.contact-modal6 {
	
width: 80vw;
height: 60vw;
background-color: #FFFFFF;
border-radius: 0px;
z-index: 99;
margin-top:1em;
display: block;
position: fixed;
top: 10em;


}

.close6{
	
position: absolute;
top:0;
right: 14px;
font-size: 30px;
transform: rotate(45deg);
cursor: pointer;
}

/* end Modal Stuff */    
    
    
    
	
}






